body{
    margin: 0;
    padding: 0;
 } 
#input {
    padding: 10px;
    height: auto;
    font-family: "Dancing script", cursive;
   
    cursor: text;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px 
    
  }
